{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2 class="text-primary mt-0 mb-0 text-center">QueryOS - Dashboard</h2>
    <p class="mt-3 mb-4 text-center">Welcome to your central hub for accessing different tables data.</p>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Pending Order</h5>
                    <p class="card-text">View and search the pending order table.</p>
                    <a href="{{ url_for('data.production_data') }}" class="btn btn-primary">Go to Pending Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Cutting Data</h5>
                    <p class="card-text">View and search the cutting data table.</p>
                    <a href="{{ url_for('data.cutting') }}" class="btn btn-primary">Go to Cutting Data</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Production Data</h5>
                    <p class="card-text">View and search the production data table.</p>
                    <a href="{{ url_for('data.tab_production') }}" class="btn btn-primary">Go to Production Data</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 